@import "../../main";

.title {
  margin: 50px 0;
  font-weight: 400;
  @include respond-to(mobile) {
    text-align: center;
  }
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;

  @include respond-to(mobile) {
    margin: 0 auto;
    padding: 10px 20px;
  }
}

.buttonLabel {
  margin-left: 20px;
  font-size: 20px;
  color: $darkred;
}

.button:hover .buttonLabel {
  color: white;
}

.button:focus .buttonLabel {
  color: $darkred;
}