@import "../../main";

$text-color: #670000;

.title {
    margin: 50px 0;
    color: $text-color;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0;

    @include respond-to(mobile) {
        text-align: center;
    }
}

.googleLoginButton {
    border: 1px solid $text-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px 25px;
    background-color: white;
    text-decoration: none;

    @include respond-to(mobile) {
        margin: 0 auto;
    }
}

.googleLoginButton:focus {
    outline: 1.5px solid $text-color;
}

.googleLoginButton img {
    height: 45px;
}

.googleLoginButtonLabel {
    margin-left: 20px;
    font-size: 20px;
    color: $text-color;
}
