@import "../main";

.navigation {
  @extend .container;
  background-color: $darkred;
  color: white;
  height: $nav-height;
  display: flex;
  justify-content: flex-end;

  @include respond-to(mobile) {
    padding: 0;
  }
}
