@import "../main";

.navigation {
  background-color: $primary-color;
  height: $nav-height;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  @include respond-to(mobile) {
    width: 100%;
  }
}
