@import "../../main";

.avatarButton {
  height: 80px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profileImage {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.modalText {
  padding: 20px;
  text-align: center;
}

.modalText p {
  margin: 5px;
}

.logoutButton {
  border: 1px solid $darkred;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: $darkred;
  color: white;
}
